<div class="root-container background-container">
  <div class="details-container">
    <div>
      <h1 class="main-heading">Supplier Finance System</h1>
    </div>
    <p class="secondary-content">
      "It is easy to become a part of the cooperative banking network. We provide Automated Transaction System for your business. Make your business smart, we do the rest!"
    </p>
    <button class="get-started-button" mat-flat-button routerLink="sign-up">
      Get Started
    </button>
  </div>
</div>
